<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/attestation</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123123</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.connection.CharSet">utf8</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="domain.Institut" />
		<mapping class="domain.Faculty" />
		<mapping class="domain.Kafedra" />
		<mapping class="domain.Specialty" />
		<mapping class="domain.Group" />
		<mapping class="domain.Mark" />
		<mapping class="domain.Student" />
		<mapping class="domain.Subject" />
		<mapping class="domain.Subjectname" />
		<mapping class="domain.Teacher" />
	</session-factory>
</hibernate-configuration>