@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
}

#header {
	position: static;
	left: 0;
	top: 0;
	width: 100%;
	height: 96px;
	margin-bottom: 10px;
	background: url(../images/header.png) repeat-x center bottom;
}

.content {
	width: 860px;
	margin: auto;
	background: white;
}

.content-white {
	background: #fff; 
	margin: 0 11px; 
	padding: 20px 40px; 
	text-align: justify; 
}

.button{
	display:block;
/* 	cursor:pointer; */
	
}

#menu {
	width: 100%;
	height: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

#footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	background: #00528E;
	color: #fff;
}

#loginForm {
	width: 400px;
	padding: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
