@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
}

.content {
	padding-bottom: 40px;
}

#header {
	position: static;
	left: 0;
	top: 0;
	width: 100%;
	height: 96px;
	margin-bottom: 10px;
	background: url(../images/header.png) repeat-x center bottom;
}

#menu {
	width: 100%;
	height: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

#footer {
	margin-top: -40px;
	height: 40px;
	background: #00528E;
	padding: 10px;
	color: white;
}

#loginForm {
	width: 400px;
	margin: auto;
}

img {
	width: 200px;
	height: 200px;
	border: none;
}

#p1 {
	width: 200px;
	text-align: center;
}

button {
	color: black;
	border: none;
	margin: 10px;
	cursor: pointer;
}

.wrap {
	min-height: 100%;
}