@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #ffffff;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header {
	position: static;
	left: 0;
	top: 0;
	width: 100%;
	height: 96px;
	margin-bottom: 20px;
	background: url(../images/header.png) repeat-x center bottom;
	flex-shrink: 0;
	
}

#menu {
	width: 100%;
	height: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

.content {
	flex: 1 0 auto;
	background-color: white;
}

#footer {
	margin-top:20px;
	flex-shrink: 0;
	background: #00528E;
	padding: 10px;
	color: white;
	width: 100%;
}

#loginForm {
	width: 350px;
	margin: auto;
	margin-top: 130px;
}

button {
	color: black;
	border: 1px solid black;
	margin: 10px;
	cursor: pointer;
	background: white;
}

th {
	text-align: center;
}

.elem {
	text-align: center;
	width: 50px;
	vertical-align: middle;
}

.elem input {
	vertical-align: middle;
	width: 50px;
	border: none;
	text-align: center;
}

.elem1,.elem2,.elem3,.elem4 {
	vertical-align: middle;
}

.elem1 input,.elem2 input,.elem3 input,.elem4 input {
	vertical-align: middle;
	border: none;
}
.elem1 input{
	width: 400px;
}
.elem2 input{
	width: 250px;
}
.elem4, .elem4 input{
	width: 130px;
}

.elem2{
	width: 250px;
}
.elem3 input{
	width: 100px;
}
.elem3{
	width: 100px;
}
.add input,.add1 input,.add2 input,.add3 input,.add4 input{
	vertical-align: middle;
	border:1px solid #0485d2;
	border-radius: 1px;
}

.add input{
	width: 400px;
}

.add1 input{
	width: 50px;
}

.add2 input{
	width: 250px;
}

.add3 input{
	width: 100px;
}

.add4 input{
	width: 130px;
}

#save {
	width: 40px;
	vertical-align: middle;
	text-align: center;
}

#save button {
	width: 40px;
	padding: 0px;
	margin: 0px;
	background: white;
	border: none;
}

#save-icon {
	width: 32px;
	height: 32px;
	border: none;
	background: white;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid;
	margin: auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width:400px;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../images/error.png);
}


.buttons{
	display: inline;
}

.td-stud{
	width: 200px;
}

.button, .buttonEdit {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 800px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.button{
	background-color: #00528E;
}

.buttonEdit{
	background-color: #f4511e;
}

.button span, .buttonEdit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after, .buttonEdit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span, .buttonEdit:hover span {
  padding-right: 25px;
}

.button:hover span:after, .buttonEdit:hover span:after{
  opacity: 1;
  right: 0;
}

h3{
	margin:auto;
	text-align: center;
	margin-bottom: 10px;
}

.logout-img{
	background: #00528E;
	width: 36px;
	height: 36px;
}

.logoutForm{
	float: right;
	margin-top:15px;
	margin-right: 20px;
}

.logout-btn{
	border:none;
}

.user{
	font-family:"Courier New";
	font-size: 28px;
	color: #ffffff;
	margin-right: 5px;
	margin-top: 15px;
}

.operation_container{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 300px;
	margin-top: 15px;
}

.operation_button{
	border:none;
	margin-left: 40px;
}

.back{
	 margin: auto;
}